table {
  width: max(500px, 100%);
}

.clickabledir {
  display: inline-block; 
  scale: 1;
}

.clickabledir:hover {
  transform: scale(1);
}

.scale {
  transition: transform .2s;
}

.scale:hover {
  transform: scale(1.1);
}

.group-name {
  color: black;
}

.group-name:hover {
  color:lightseagreen
}